/*
 *  Copyright © 2025 CGS IT Solutions GmbH.
 *  All rights reserved.
 *
 *  This source code is proprietary intellectual property
 *  of CGS IT Solutions GmbH and is provided solely for use
 *  within licensed training programs.
 *
 *   Any copying, redistribution, modification, or use
 *   beyond the permitted scope is strictly prohibited.
 */

/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


.label{
	-fx-font-size: 16.0px;
	
}


.bold{
	-fx-font-weight: bold;
}

.italic {
	-fx-font-style: italic ;
}


/* 
.large{
	-fx-font-size: 20.0px;
}

.medium{
	-fx-font-size: 16.0px;
}

.small{
	-fx-font-size: 12.0px;
}
*/